version: 2
jobs:
  build-python39:  # required for runs that don't use workflows
    docker:
      - image: continuumio/miniconda3
    resource_class: medium
    working_directory: ~/circleci-pyrcel39
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies
      - run: echo "Building Python 3.9 version..."
      - run:
          name: Create Conda Environment
          command: |
            conda env create -f ci/requirements-py39.yml
      - run:
          name: Install and Test Pyrcel Simulation
          command: |
            conda activate pyrcel
            pip install -e .
            run_parcel examples/simple.yml

  build-python38:  # required for runs that don't use workflows
    docker:
      - image: continuumio/miniconda3
    working_directory: ~/circleci-pyrcel38
    resource_class: medium
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies
      - run: echo "Building Python 3.8 version..."
      - run:
          name: Create Conda Environment
          command: |
            conda env create -f ci/requirements-py38.yml
      - run:
          name: Install and Test Pyrcel Simulation
          command: |
            conda activate pyrcel
            pip install -e .
            run_parcel examples/simple.yml

  build-python37:  # required for runs that don't use workflows
    docker:
      - image: continuumio/miniconda3
    working_directory: ~/circleci-pyrcel37
    resource_class: medium
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies
      - run: echo "Building Python 3.7 version..."
      - run:
          name: Create Conda Environment
          command: |
            conda env create -f ci/requirements-py37.yml
      - run:
          name: Install and Test Pyrcel Simulation
          command: |
            conda activate pyrcel
            pip install -e .
            run_parcel examples/simple.yml

workflows:
  version: 2
  build:
    jobs:
      - build-python39
      - build-python38
      - build-python37